* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: faisal;
  src: url('../webfonts/faisal_free-webfont.woff');
  src: url('../webfonts/faisal-free.ttf');
}

body {
  min-height: 100vh;
  background-color: #000000;
  font-family: faisal,
    'poppins',
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

/************ root-start *************/
:root {
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #1a1a1a;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: -3px -3px 5px #ffffff, 0px 15px 20px hwb(0 0% 55%);
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px;
}

/************ root-end *************/

/* ----------------glob-start---------- */
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.outer-shadow {
  box-shadow: var(--outer-shadow);
}

.inner-shadow {
  box-shadow: var(--inner-shadow);
}

.hover-in-shadow {
  position: relative;
  z-index: 1;
}

.hover-in-shadow:hover {
  box-shadow: var(--outer-shadow-0);
}

.hover-in-shadow:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
}

.hover-in-shadow:hover:after {
  box-shadow: var(--inner-shadow);
}

.align-items-center {
  align-items: center;
}

/* ----------------glob-end----------- */

/*----------header------------*/
header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

header.sticky {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  z-index: 1 !important;
}

header .banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
}

header.sticky .banner {
  opacity: 0.5;
}

#particles-js {
  position: absolute;
  left: 0;
  display: flexbox;
  background-size: 100%;
  background-position: 100%, 100%;
  background-repeat: repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

header.sticky #particles-js {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(0, -48%);
  object-fit: fill;
  overflow: hidden;
  transition: 0.5s;
  z-index: 1;
}

header .logo {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 350px;
  width: 500px;
  transform: translate(-50%, -50%);
  transition: 1s;
  z-index: 1;
}

header.sticky .logo {
  position: absolute;
  height: 50px;
  width: 60px;
  left: 110px;
  transform: translate(0, -50%);
}

.user-box {
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.user-box h1 {
  color: #f5f5f5;
  font-weight: bold;
  margin: 10px;
  padding: 0 47px;
}

.user-box p {
  color: #f5f5f5;
  padding: 0 45px;
}

.scroll-btn {
  bottom: 26px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid #f5f5f5;
  padding: 10px 10px 20px;
  border-radius: 30px;
}

.scroll-bar span {
  border: 2px solid #f5f5f5;
  font-size: 10px;
  border-radius: 30px;
}

.scroll-bar {
  animation: mover 1s infinite alternate;
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}

header.sticky .text-center {
  position: relative;
  display: inline-block;
  transition: 0s;
  transform: translateX(100px);
  opacity: 0;
}

header.sticky .scroll-btn {
  opacity: 0;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

/*----------nav-bar----------*/
nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  right: 100px;
  /* overflow: hidden; */
}

nav ul {
  position: relative;
  display: flex;
  transition: 0.25s;
  transform: translateX(100px);
  opacity: 0;
}

header.sticky nav ul {
  transform: translateX(0);
  opacity: 1;
  transition-delay: 0.75s;
  z-index: 1;
}

nav ul li {
  list-style: none;
  margin-top: 10px;
  padding-top: 5px;
  padding-left: 10px;
}

nav ul li a {
  color: #EEE;
  display: inline-block;
  padding: 10px 15px;
  font-size: 1em;
  text-decoration: none;
  border-radius: 5px;
  display: block;
  padding: 15px;
  text-decoration: none;
  color: rgb(185, 184, 184);
  transition: 0.3s;
}

nav ul li a:hover {
  color: rgb(255, 0, 0);
  /* background-color: #EEE; */
  text-shadow: 1px 1px 1px hwb(0 0% 100%),
    1px 1px 2px hwb(0 0% 100% / 0.5),
    1px 1px 3px hwb(0 0% 100% / 0.5),
    1px 1px 5px hwb(0 0% 100% / 0.5),
    0px 0px 20px hwb(0 0% 0%),
    0px 0px 25px hwb(0 0% 0%),
    0px 0px 30px hwb(0 0% 0% / 0.712),
    0px 0px 50px hwb(0 0% 0% / 0.555);
  transition-delay: 0.1s;
  /* padding: 5px; */
}

/*-----------------About------------------*/
.about {
  display: flex;
  /* grid-template-columns: auto; */
  /* padding: 200px 0 ; */
  margin-top: 80px;
  min-height: 100vh;
  background-color: #1a1a1a;
  justify-content: center;

}

.about .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, .5); */
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 50px; */
  margin-left: auto;
  margin-right: auto;
}

.section-title {
  display: flex;
  position: relative;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  /* box-shadow: -3px 3px 30px #EEE,
    -3px 3px 30px #ffffff,
    inset 3px 3px 3px; */
  align-content: center;
  text-shadow: 1px 1px 1px hwb(0 0% 100%),
    1px 1px 2px hwb(0 0% 100% / 0.5),
    1px 1px 3px hwb(0 0% 100% / 0.5),
    1px 1px 5px hwb(0 0% 100% / 0.5),
    0px 0px 20px hwb(0 0% 0%),
    0px 0px 25px hwb(0 0% 0%),
    0px 0px 30px hwb(0 0% 0% / 0.712),
    0px 0px 50px hwb(0 0% 0% / 0.555);
}

.about .section-title::after {
  content: " ";
  border: #ffffff;
}

.about .section-title h1 {
  color: #f5f5f5;
  justify-items: center;
}

.about .experience {
  padding-bottom: 80px;
  padding-top: 80px;
}

.about .timeline {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}

.about .timeline:before {
  content: " ";
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: rgba(192, 192, 192, 0.5);
  position: absolute;
}

.about .timeline .timeline-item {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}

.about .timeline .timeline-item:nth-child(odd) {
  padding-right: calc(50% + 50px);
  text-align: right;
}

.about .timeline .timeline-item:nth-child(even) {
  padding-left: calc(50% + 50px);
}

.about .timeline .timeline-item-inner {
  padding: 30px;
  border-radius: 5px;
  position: relative;
}

.about .timeline .timeline-item-inner .icon {
  height: 40px;
  width: 40px;
  background-color: rgb(17, 17, 17);
  text-align: center;
  border: 1px solid hwb(0 0% 55%);
  box-shadow: 0px 0px 11px hwb(0 0% 0%);
  line-height: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #cccbcb;
  position: absolute;
  top: 18px;
}

.about .timeline .timeline-item:nth-child(odd) .icon {
  right: -70px;
}

.about .timeline .timeline-item:nth-child(even) .icon {
  left: -70px;
}

.about .timeline .timeline-item-inner span {
  font-weight: 500;
  color: var(--text-black-600);
  display: block;
  margin: 0 0 10px;
  text-transform: capitalize;
}

.about .timeline .timeline-item-inner h3 {
  font-size: 20px;
  color: rgb(170, 170, 170);
  font-weight: 600;
  margin: 0 0 5px;
  text-transform: capitalize;
}

.about .timeline .timeline-item-inner h4 {
  font-size: 16px;
  font-style: italic;
  color: var(--text-black-700);
  margin: 0;
}

.about .timeline .timeline-item-inner p {
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}

/* --------------------serv----------- */
#services {
  position: relative;
  display: flexbox;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #1a1a1a;
  /* padding: 70px; */
  color: #f5f5f5;
  justify-content: center;
}

#services h1 {
  text-align: center;
  width: 800px;
  justify-content: center;
}

#srevices .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, .5); */
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 50px; */
  margin-left: auto;
  margin-right: auto;
}

.container .card {
  position: relative;
  width: 240px;
  height: 400px;
  margin: 20px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s;
}

.container .card:hover .content {
  transform: translateY(0px);
  opacity: 1;

}

.container .card i {
  font-size: 3em;
  color: #eee;
  z-index: 1;
  background: rgba(255, 255, 255, 0);
  height: 90px;
  width: 90px;
  border-radius: 50%;
}

.container .card .content h3 {
  font-size: 4.5em;
  color: #eee;
  z-index: 1;
}

.container .card .content p {
  font-size: 1.2em;
  color: #eee;
  font-weight: 300;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #eee;
  color: #000;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 700;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgb(255, 0, 0);
  border-bottom: 1px solid rgb(255, 0, 0);
}

/*-------------Gallery-----------*/
#gallery {
  position: relative;
  display: flexbox;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #1a1a1a;
  /* padding: 70px; */
  color: #f5f5f5;
  justify-content: center;
}

#gallery h1 {
  text-align: center;
  width: 800px;
}

#gallery .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgba(0, 0, 0, .5); */
  padding-left: 15px;
  padding-right: 15px;
  /* padding-top: 50px; */
  margin-left: auto;
  margin-right: auto;
}

.soon-box {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
}

.soon-box span {
  position: absolute;
  width: 10px;
  height: 250px;
  background: transparent;
  border-bottom: 120px solid #1a1a1a;
  transform-origin: bottom;
  transform: rotate(calc(22.5deg * var(--i)));
}

.soon-box span::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 30px;
  background: rgb(235, 14, 14);
  box-shadow: 0 0 20px rgb(255, 0, 0);
  border-radius: 15px;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateY(160px) rotate(0deg);
  }

  50% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(160px) rotate(360deg);
  }
}

.soon-box span::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 20px;
  height: 1px;
  background: rgb(235, 14, 14);
  box-shadow: 0 0 20px rgb(255, 0, 0);
  transform-origin: bottom;
  transform: rotate(70deg);
  animation: cercle 2s linear infinite;
}

@keyframes cercle {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* .soon-box span i {
    position: absolute;
    width: 10px;
    height: 100px;
    background: transparent;
    box-shadow: 0 0 20px rgb(255, 0, 0);
    border-left: 2px solid rgb(235, 14, 14);
    border-right: 2px solid rgb(235, 14, 14);
    transform-origin: top;
    transform: rotate(78deg);
    animation: rota 1.5s linear infinite;
} */

@keyframes rota {
  0% {
    box-shadow: 0 0 2px rgb(255, 0, 0);
  }

  50% {
    box-shadow: 0 0 20px rgb(255, 0, 0);
  }

  100% {
    box-shadow: 0 0 2px rgb(255, 0, 0);
  }
}

.text {
  position: relative;
  display: flex;
  justify-content: center;
  width: 800px;
  bottom: 192px;
}


/*---------Contact-me----------*/
#contact {
  position: relative;
  display: flexbox;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #1a1a1a;
  /* padding: 70px; */
  color: #f5f5f5;
  justify-content: center;
}

#contant h1 {
  text-align: center;
  width: 800px;
}

#contant .container {
  position: relative;
  width: 100%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  /* z-index: 99; */
  overflow: hidden;
  direction: rtl;
}

#contant .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 43%;
  width: 95%;
  height: 100%;
  background: rgba(255, 255, 255, 0.01);
  pointer-events: none;
  transform: skewX(50deg);

}

#contant .container h2 {
  width: 100%;
  color: #ddd;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
  z-index: 99;
}

#contant .container .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#contant .container .row100 .clo {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 20px 0 10px;
  transition: 0.5s;
}

#contant .container .row100 .inputbox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #ddd;
  margin-bottom: 10px;
}

#contant .container .row100 .inputbox input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #ddd;
}

#contant .container .row100 .inputbox .text {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 40px;
  font-size: 28px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
  margin: 0 5px;
}

#contant .container .row100 .inputbox input:focus+.text,
#contant .container .row100 .inputbox input:valid+.text {
  top: -35px;
  right: -10px;
}

#contant .container .row100 .inputbox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border-radius: 10px;
  pointer-events: none;
}

#contant .container .row100 .inputbox input:focus~.line,
#contant .container .row100 .inputbox input:valid~.line {
  height: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

#contant .container .row100 .inputbox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

#contant .container .row100 .inputbox.textarea textarea {
  height: 100%;
  width: 100%;
  resize: none;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #ddd;
}

#contant .container .row100 .inputbox textarea:focus+.text,
#contant .container .row100 .inputbox textarea:valid+.text {
  top: -35px;
  right: -10px;
}

#contant .container .row100 .inputbox textarea:focus~.line,
#contant .container .row100 .inputbox textarea:valid~.line {
  height: 100%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

#contant input[type='submit'] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #ddd;
  color: #000;
  font-size: 18px;
  border-radius: 10px;
}

#contant input[type='submit']:hover {
  background: #eee;
}

#contant ul {
  position: relative;
  display: flex;
  gap: 20px;
  align-items: flex-end;
  justify-content: flex-end;
}

#contant ul li {
  position: relative;
  list-style: none;
  width: 50x;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1); */
  cursor: pointer;
}

#contant ul li .fa-brands {
  font-size: 2em;
  /* -webkit-text-stroke: 1px var(--clr); */
  color: transparent;
}

#contant ul li::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  border-bottom: 2.5px solid var(--clr);
  transition: 0.6s ease-in-out;
  font-family: fontAwesome;
  text-align: center;
  line-height: 50px;
  font-size: 2em;
  color: var(--clr);
}

#contant ul li:hover::before {
  height: 100%;
}

#contant ul li:nth-child(1)::before {
  content: '\f099';
}

#contant ul li:nth-child(2)::before {
  content: '\f082';
}

#contant ul li:nth-child(3)::before {
  content: '\f232';
}

#contant ul li:nth-child(4)::before {
  content: '\f167';
}

#contant ul li:nth-child(5)::before {
  content: '\e055';
}

#contant ul li:nth-child(6)::before {
  content: '\f0e1';
}

footer {
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #555555;
  color: #ddd;

}
